.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}

.clearfix:after {
  clear: both;
}

.body_semantic {
  font-family: Avenir, "Helvetica Neue", "Lato", "Segoe UI", Helvetica, Arial,
    sans-serif;
  line-height: 1.5;
  color: #3b393d;
  background: #624c4c;
  background-size: cover;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-y: auto;
  min-height: 100vh;

  &.body--hidden_semantic {
    overflow: hidden;

    .codrops-header_final,
    .content_final--related {
      opacity: 0;
    }
  }
}

.codrops-header_final,
.content_final--related {
  color: whitesmoke;
  -webkit-transition: opacity 300ms ease-in-out;
  transition: opacity 300ms ease-in-out;
}

a {
  text-decoration: none;
  color: #de6551;
  outline: none;
}

a:hover,
a:focus {
  color: #3b393d;
}

.link_semantic {
  text-decoration: none;
  color: #de6551;
  outline: none;

  &:hover,
  &:focus {
    color: #3b393d;
  }
}

.demo-4 {
  background: #acaad1;
}

.demo-4 a {
  color: #6448a0;
}

.demo-4 .codrops-header h1 span {
  color: #4f4c4c;
}

.hidden {
  position: absolute;
  overflow: hidden;
  width: 0;
  height: 0;
  pointer-events: none;
}
/* Header */

.codrops-header_final {
  padding: 2em 1em;
  text-align: center;
}

.codrops-header_final h1 {
  font-size: 2.25em;
  font-weight: 400;
  line-height: 1.2;
  margin: 0.5em 0 0;
}

.codrops-header_final h1 span {
  font-size: 0.45em;
  display: block;
  padding: 0.5em 0 1em;
  color: #999;
}

.header-title_semantic {
  font-size: 2.25em;
  font-weight: 400;
  line-height: 1.2;
  margin: 0.5em 0 0;
}

.header-title_semantic span {
  font-size: 0.45em;
  display: block;
  padding: 0.5em 0 1em;
  color: #999;
}
/* Top Navigation Style */

.codrops-links_final {
  position: relative;
  display: inline-block;
  text-align: center;
  white-space: nowrap;
}

.codrops-links_final::after {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  width: 2px;
  height: 100%;
  margin-left: -1px;
  background: #ddd;
  -webkit-transform: rotate3d(0, 0, 1, 22.5deg);
  transform: rotate3d(0, 0, 1, 22.5deg);
}

.codrops-icon {
  display: inline-block;
  width: 1.5em;
  margin: 0.5em;
  padding: 0em 0;
  text-decoration: none;
}

.codrops-icon span {
  display: none;
}

.codrops-icon:before {
  font-family: "codropsicons";
  font-weight: normal;
  font-style: normal;
  font-variant: normal;
  line-height: 1;
  margin: 0 5px;
  text-transform: none;
  -webkit-font-smoothing: antialiased;

  speak: none;
}

.codrops-icon--drop:before {
  content: "\e001";
}

.codrops-icon--prev:before {
  content: "\e004";
}
/* Demo links */

.codrops-demos_final {
  margin: 2em 0 0;
}

.codrops-demos_final a {
  display: inline-block;
  margin: 0 0.5em;
}

.demo-link_semantic {
  display: inline-block;
  margin: 0 0.5em;
}

.current-demo_final {
  font-weight: bold;
  color: #3b393d;
}
/* Content */

.content_final {
  padding: 1em 0 4em;
  // padding-top: 100px;
}
/* Related demos */

.content_final--related {
  font-weight: bold;
  text-align: center;
}

.media-item {
  display: inline-block;
  padding: 1em;
  vertical-align: top;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}

.media-item__img {
  max-width: 100%;
  opacity: 0.3;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.media-item:hover .media-item__img,
.media-item:focus .media-item__img {
  opacity: 1;
}

.media-item__title {
  font-size: 1em;
  margin: 0;
  padding: 0.5em;
}

/* cards wrapper and close btn */

.wrapper {
  overflow: auto;
  width: 95%;
  max-width: 1366px;
  margin: 0 auto;
}

.wrapper_semantic {
  overflow: auto;
  width: 95%;
  max-width: 1366px;
  margin: 0 auto;
}

@media (max-width: 786px) {
  .events-box {
    margin-top: -340px;
  }
}

@media screen and (max-width: 50em) {
  .codrops-header_final {
    padding: 3em 10% 4em;
  }
}

@media screen and (max-width: 40em) {
  .codrops-header_final h1 {
    font-size: 2.4em;
    line-height: 1.2;
  }
}

.events-box {
  position: relative;
  //   background: linear-gradient(to bottom, #1f3341, #274051, #325b6c);
  color: white;
  //   padding: 200px 0px 10px 0px;
  overflow: hidden;
  padding-top: 140px;
  padding: 140px 20px 0px 20px;
  // padding-bottom: 10px;
  // margin-top: -400px;

  /* Fade from transparent to solid color from top */
  //   mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, black 20%);
  // -webkit-mask-image: linear-gradient(
  //   to bottom,
  //   rgba(0, 0, 0, 0) 0%,
  //   black 30%
  // );
}

.click-guide {
  width: 100%;
}

.evt-stars {
  height: 115vh !important;
}

.top-fade-mask {
  position: absolute;
  top: -195px;
  left: 0;
  right: 0;
  height: 200px; /* adjust height of fading */
  background: linear-gradient(
    to bottom,
    rgba(26, 39, 55, 0) 0%,
    rgba(26, 39, 55, 1) 100%
  );
  z-index: 2;
  pointer-events: none; /* super important: make it unclickable */
}

@media (max-width: 768px) {
  .content_final {
    padding: 10px 0px 4px 20px;
    // padding-top: 200px;
    // padding-left: 20px;
  }
  .evt-stars {
    height: 200vh !important;
  }
  .click-guide {
    width: 90%;
  }
}
